workspace_cs/ConsoleApp1/.vs/
workspace_cs/ConsoleApp1/bin/
workspace_cs/ConsoleApp1/obj/
workspace_cs/WindowsForms_WebView/.vs/
workspace_cs/WindowsForms_WebView/bin/
workspace_cs/WindowsForms_WebView/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
workspace_cs/WindowsForms_WebView/obj/
workspace_cs/WindowsForms_WebView/packages/
workspace_cs/WindowsForms_WebView/Properties/
workspace_cs/WindowsFormsCalc/.vs/
workspace_cs/WindowsFormsCalc/bin/
workspace_cs/WindowsFormsCalc/obj/
workspace_cs/WindowsFormsCalc/Properties/
workspace_cs/WindowsFormsDB/.vs/
workspace_cs/WindowsFormsDB/bin/
workspace_cs/WindowsFormsDB/obj/
workspace_cs/WindowsFormsDB/packages/
