<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world <%= food %></h1>
    <form method="get" action="login_check_get">
        id: <input type="text" name="id"><br>
        <input type="submit" value="로그인get">
    </form>
    <form method="post" action="login_check_post">
        id: <input type="text" name="id"><br>
        <input type="submit" value="로그인get">
    </form>
</body>
</html>